<div class="cuerpo">
    <div class="main">
        <div class="contain">
            <h3>Contactanos</h3>
            <hr>
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="text" name="asunto" id="asunto" placeholder="Asunto">
            <textarea name="mensaje" id="mensaje" cols="30" rows="7" placeholder="Mensaje"></textarea>
            <button type="submit">Enviar</button>
        </div>
        <div class="icono">
            <img src=" {{ logo }} " alt="logo">
        </div>
    </div>
</div>

