*{
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
    background: #F2D335;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.logo img{
    max-width: 50px;
    margin: 5px 0 5px 15px;
}

.section1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section1 .titulo{
    margin: 0 0 0 15px;
}

.enlaces {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 0;
    text-align: center;
}

.enlaces a{
    text-decoration: none;
    color: #262626;
    margin-left: 35px;
    padding: 0 0 5px 0;
}

.enlaces a:hover{
    border-bottom: #262626 solid 1px;
}

@media only screen and (max-width: 500px) {
    
}