<div class="container">
    <div class="section1">
        <div class="logo">
            <a routerLink="">
                <img src=" {{ logo }} " alt="logo">
            </a>
        </div>
        <div class="titulo">
            <h1>Personajes Historicos</h1>
        </div>
    </div>
    <div class="enlaces">
        <a routerLink=""> Inicio </a>
        <a routerLink="personalidades"> Personajes </a>
        <a routerLink="contacto"> Contacto </a>
        <a routerLink="acerca"> Acerca de </a>
    </div>
</div>
