button{
    border: none;
    background-color: cornflowerblue;
}

div{
    border: none;
    background-color: crimson;
}

/* Primer boton */

#mi-boton{
    padding: 10px;
    background-color: darkblue;
    color: white;
}

/* Segundo Boton */

.mi-otro-boton{
    padding: 10px;
    background-color: yellow;
    color: black;
}

/* Tercer Boton */

button[data-value="mi-ultimo-boton"] {
    padding: 10px;
    background-color: chartreuse;
    color: black;
}
