<div class="cuerpo">
    <div class="main">
        <div class="contain">
            <h3>Acerca de</h3>
            <hr>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore dolores repudiandae esse quibusdam quia sed praesentium vitae odio sunt aliquid, pariatur exercitationem odit minus a, libero ullam consequatur. Inventore, recusandae!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquam omnis autem cupiditate aut dolorum eos rem vel tempore distinctio aspernatur, explicabo fugit obcaecati quod voluptate sed illo rerum maiores.
            </p>
        </div>
        <div class="icono">
            <img src=" {{ logo }} " alt="logo">
        </div>
    </div>
</div>
