<div class="contain">
    <div class="section1">
        <img src="/assets/images/icono.png" alt="logo">
        <h4>Personajes Historicos</h4>
    </div>
    <div class="section2">
        <div class="redes">
            <img src="/assets/images/redes/facebook.png" alt="facebook">
            <img src="/assets/images/redes/instagram.png" alt="instagram">
            <img src="/assets/images/redes/twitter.png" alt="twitter">
            <img src="/assets/images/redes/pinterest.png" alt="pinterest">
        </div>
        <div>
            <footer>Copyright 2020 © Andrés Sneider García Quintero</footer>
        </div>
    </div>
</div>
